{% extends 'base.html' %}

{% block content %}



<div class="d-flex justify-content-around">
           <div class="col-lg-2 text-center ">
                      {% if order_form.errors %}
                      {% for field in order_form %}
                      {% for error in field.errors %}
                      <div class="alert alert-danger ERRORS">
                                 <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                      {% endfor %}
                      {% for error in order_form.non_field_errors %}
                      <div class="alert alert-danger">
                                 <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                      {% endif %}
                      <div id="order_form">
                                 <form class=" text-center" id="order_form" action="{% url 'order_tables' %}"
                                            method="POST">
                                            {% csrf_token %}

                                            <label class="text-nowrap" for="{{ order_form.client_email.auto_id }}">
                                                       {{ order_form.client_email.label }}
                                            </label>
                                            {{ order_form.client_email }}


                                            <label class="text-nowrap" for="{{ order_form.client_name.auto_id }}">
                                                       {{ order_form.client_name.label }}
                                            </label>
                                            {{ order_form.client_name }}

                                            <div class="tables_checked">
                                                       {{order_form.tables}}
                                            </div>
                                            <input type="submit" class="btn">

                                 </form>

                                 <ul>
                                            <li>You chose:
                                                       <ul class="selected_obj">
                                                                  {% for obj in object_list %}
                                                                  {%if obj.available%}
                                                                  <li style="display: none;" id="{{obj.id }}">
                                                                             {{obj}}
                                                                  </li>
                                                                  {%endif%}
                                                                  {% endfor %}
                                                       </ul>
                                            </li>
                                 </ul>
                      </div>

           </div>

           {% block home_content %}
           <div class="col-lg-6 col-sm-11 text-center border border-primary rounded alert alert-secondary">
                      <h1 class='text-center draggable'>Enter table</h1>
                      <div class="row hall_schema"
                                 style="width: 600px;
                                 height: 500px;
                                 position: relative; 
                                 background-image: 
                                            url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGrp-3OFfMOvDtae4CWZXE9pCVbrDvzffE9w&usqp=CAU);">
                                 {% for obj in object_list %}

                                 <img {%if obj.available%} id="target" {%endif%} value="{{obj.id }}" style="
                                                       {%if not obj.available%}
                                                       filter: drop-shadow(rgb(0,0,0) 2px 4px 6px);
                                                       {%endif%}
                                                       position: absolute;
                                                       left: {{obj.abscissa}}px;
                                                       top: {{obj.ordinate}}px;
                                                       width: {{obj.width}}px;
                                                       height: {{obj.height}}px;" src="/media/table.svg" alt="">
                                 {% endfor %}
                      </div>
           </div>
           <div class="col-lg-2"></div>
           {% endblock home_content %}
</div>

{% endblock content %}