{% extends 'base.html' %}

{% block content %}



<div class="d-flex justify-content-around">
           <div id="order_form">
                      {{ formset.management_form }}
                      {% for form in order_formset %}
                      <div class="col-lg-2 text-center ">
                                 <form id="order_form" action="">
                                            {% csrf_token %}
                                            {{form.as_p }}{{ form.DELETE }}
                                 </form>
                      </div>
                      {%endfor%}

           </div>
           <div class="col-lg-6 col-sm-11 text-center border border-primary rounded alert alert-secondary">
                      <h1 class='text-center draggable'>Enter certificate number</h1>
                      <div class="row"
                                 style="width: 585px;
                                 height: 500px;
                                 position: relative; 
                                 background-image: 
                                            url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGrp-3OFfMOvDtae4CWZXE9pCVbrDvzffE9w&usqp=CAU);">
                                 {% for obj in object_list %}

                                 <img id="target" class="" style="
                                                       position: absolute;
                                                       left: {{obj.abscissa}}px;
                                                       top: {{obj.ordinate}}px;
                                                       width: {{obj.width}}px;
                                                       height: {{obj.height}}px;" src="/media/table.svg" alt="">
                                 {% endfor %}
                      </div>
           </div>
           <div class="col-lg-2"></div>
</div>

{% endblock content %}